@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}